.root {
  display: flex;
  padding: 16px 20px 16px 16px;
  max-width: 100%;
  align-items: center;
  gap: 8px;
  border-radius: var(--default-border-radius);
  background: rgb(245, 245, 246);
  color: var(--components-bg-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  svg {
    margin-bottom: auto;
    flex-shrink: 0;
  }

  @media (max-width: 1023px) {
    max-width: fit-content;
  }

  @media (max-width: 480px) {
    span {
      font-size: 16px;
    }
  }
}

.text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
