.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(20px);
  transition: all 200ms ease;
  z-index: var(--z-index-main-layer);

  &.blur {
    background: #ffffff1a;
    box-shadow: var(--box-shadow);
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0px;
}

.logo {
  color: var(--primary-text-color);
  font-weight: 600;
}

.nav {
  display: flex;
}

.navMenu {
  display: flex;
  gap: 50px;
}

.navLink {
  color: var(--primary-text-color);
  font-size: var(--default-font-size);
  font-weight: var(--bold-font-weight);
  cursor: pointer;
}
