.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  will-change: backdrop-filter;
  transition: all 200ms ease;
  z-index: var(--z-index-main-layer);

  &.blur {
    background: #ffffff1a;
    box-shadow: var(--box-shadow);

    .headerWrapper {
      padding: 14px 0;
    }
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 200ms ease;
  padding: 18px 0;
}

.logo {
  color: var(--primary-text-color);
  font-weight: 600;
}

.nav {
  display: flex;
}

.navMenu {
  position: relative;
  display: flex;
  gap: 50px;

  .highlight {
    position: absolute;
    bottom: 0;
    opacity: 0;
    height: 100%;
    background: linear-gradient(135deg, #0071e3, #0077ed);
    border-radius: var(--default-border-radius);
    z-index: -1;
    transition: left 300ms ease, width 300ms ease, opacity 300ms ease 300ms;

    &.visible {
      opacity: 1;
    }
  }
}

.navLink {
  color: var(--primary-text-color);
  font-size: var(--default-font-size);
  font-weight: var(--bold-font-weight);
  cursor: pointer;
  position: relative;
  padding: 8px 16px;
}
