.globContainer {
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 600px;
  transition: transform 200ms ease;

  &:hover {
    transform: scale(1.1);
  }
}

.globCanvas {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  contain: layout paint size;
}
