.root {
  min-height: 100vh;
  padding: 80px 0px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(400px, auto) minmax(400px, auto);
  grid-template-areas:
    'first second'
    'first third';
  gap: 16px;

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;

    .widgetWrapper:last-child {
      min-height: 400px;
    }

    .globWrapper {
      left: 25%;
      top: 25%;
    }
  }

  @media (max-width: 479px) {
    .globWrapper {
      left: 25%;
      top: 35%;
    }
  }
}

.widgetWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
  gap: 20px;
  padding: 24px;
  border-radius: var(--default-border-radius);
  background: linear-gradient(to top left, #3a3a3a 0%, #242424 50%, #3a3a3a 100%);

  &:nth-child(1) {
    grid-area: first;
  }

  &:nth-child(2) {
    grid-area: second;
  }

  &:nth-child(3) {
    grid-area: third;
  }

  @media (max-width: 767px) {
    padding: 18px;
  }
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descriptionText {
  text-wrap: balance;
  line-height: var(--default-line-height);
  color: var(--secondary-text-color);
}
