:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #a9afc3;

  --body-bg-color: #1e1e1e;
  --components-bg-color: #2f2f45;

  --cta-color: #0071e3;
  --cta-hover-color: #0077ed;

  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
  --bg-transparent-color-02: rgba(106, 89, 209, 0.1);

  --liner-color: #d7d7d7;

  --color-filter: invert(1);

  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  --extra-small-font-size: 12px;
  --small-font-size: 14px;
  --default-font-size: 18px;
  --extra-large-font-size: 60px;

  --default-border-radius: 16px;

  --default-line-height: 24px;
  --default-icon-size: 24px;

  --title-font-size: 28px;
  --cta-font-size: 18px;

  --bold-font-weight: 700;

  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;

  --success-color: #57a718;
  --error-color: #bb210c;

  --z-index-default-layer: 1;
  --z-index-secondary-layer: 4;
  --z-index-main-layer: 7;
}

.dark-theme {
  --primary-text-color: #fff;
  --second-color: #6a59d1;
  --third-color: #a9afc3;

  --body-bg-color: #0e1b31;
  --card-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --bg-transparent-color-01: rgba(255, 255, 255, 0.1);
  --liner-color: #454f6b;

  --color-filter: invert(0);

  --scroll-bar-color: #c1ceff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme .nav-menu-btn {
  background: url(../img/burger-white.svg) no-repeat center;
}

.dark-theme .nav-menu-btn.close {
  background: url(../img/close-white.svg) no-repeat center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-family: 'Factor A', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: var(--default-font-size);
  max-width: 100%;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  color: var(--primary-text-color);
  background: var(--body-bg-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.scrollToTop {
  position: fixed;
  right: 0px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: var(--small-font-size);
  border-radius: 3px;
  cursor: pointer;
  z-index: -1;
  box-shadow: var(--box-shadow);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s linear;
}

.scrollToTop.flex-center {
  justify-content: center;
}

.scrollToTop.active {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  right: 20px;
}

.them-btn .fa-sun,
.them-btn.sun .fa-moon {
  display: none;
}

.them-btn.sun .fa-sun {
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background: var(--scroll-thumb-hover-color);
}

main {
  flex: 1;
}

.section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 20px;
}
