.home {
  min-height: 100vh;
  position: relative;
  padding: 80px 0px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  @media (max-width: 1023px) {
    flex-direction: column-reverse;

    .imageContainer {
      width: 100%;

      img {
        margin: auto;
      }
    }
  }
}

.imageContainer {
  width: 470px;
}

.headerInfo {
  font-size: var(--extra-large-font-size);
  font-weight: var(--bold-font-weight);
}

.postTitle {
  color: var(--secondary-text-color);
  font-size: 20px;
}

.about {
  color: var(--primary-text-color);
  max-width: 350px;
  width: 100%;
  font-weight: 300;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;

  & > :last-child {
    margin-top: 20px;
  }
}
