.home {
  min-height: 100vh;
  position: relative;
  padding: 100px 0px;

  @media (max-width: 1023px) {
    padding: 60px 0px;

    .content {
      flex-direction: column-reverse;
      gap: 20px;

      .imageContainer {
        width: 100%;

        img {
          margin: auto;
        }
      }

      .homeWrapper {
        margin-bottom: 40px;

        & > :last-child {
          margin: 20px auto auto;
        }
      }
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.imageContainer {
  width: 470px;
}

.headerInfo {
  font-size: var(--extra-large-font-size);
  font-weight: var(--bold-font-weight);
}

.postTitle {
  color: var(--secondary-text-color);
  font-size: 20px;
}

.about {
  color: var(--primary-text-color);
  max-width: 350px;
  width: 100%;
  font-weight: 300;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
