.button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  font-size: var(--cta-font-size);
  border-radius: var(--default-border-radius);
  padding: 14px 28px;
  letter-spacing: 1px;
  transition: 200ms ease;
  white-space: nowrap;
  max-width: min-content;
}

.primary {
  background: var(--cta-color);
  color: #fff;

  &:hover {
    background: var(--cta-hover-color);
  }
}

.secondary {
  background: #0e2431;
  color: #fff;

  &:hover {
    background: #1a3444;
  }
}

.outline {
  background: transparent;
  color: #6a59d1;
  border: 2px solid #6a59d1;

  &:hover {
    background: rgba(106, 89, 209, 0.1);
  }
}
