.radarWrapper {
  margin: auto;
}

.legendaWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .legendaItem {
    display: flex;
    align-items: center;
    max-width: max-content;
    gap: 8px;

    .dot {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      transition: background-color 200ms ease;
    }

    .text {
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
