.root {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 10px;
  left: 50%;
  transform: translate(-50%, 20px);
  z-index: var(--z-index-secondary-layer);
  bottom: 260px;
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;

  padding: 24px;
  border-radius: 24px;
  background: var(--components-bg-color);

  .text {
    font-weight: 700;
    white-space: nowrap;
    color: var(--primary-text-color);
  }

  svg {
    flex-shrink: 0;
  }

  &.visible {
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}
